<div class="red">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Isxn</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>Categoria</th>
                <th>Publicación</th>
                <th>Unidades</th>
                <th>Costo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
            <th>1</th>
            <td><img src={{book.image}} alt=""></td>
            <td>{{book.id}}</td>
            <td class="titulo">{{book.titulo}}</td>
            <td>{{book.autor}}</td>
            <td>{{book.editorial}}</td>
            <td>{{book.categoria}}</td>
            <td>{{book.anioPublicacion}}</td>
            <td>{{book.unidades}}</td>
            <td>{{book.costo}} COP</td>
            <td><button class="btn btn-grey btn-content btn-icon" routerLink="edit-book/{{book.id}}"><img src="../../../assets/settings.svg" alt=""></button></td>
            </tr>
        </tbody>
    </table>
</div>