<div class="red">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Isxn</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>Categoria</th>
                <th>Publicación</th>
                <th>Unidades</th>
                <th>Costo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th>1</th>
            <td><img src="https://libreriadelau.vtexassets.com/arquivos/ids/34401077-800-auto?v=638494223294900000&width=800&height=auto&aspect=true" alt=""></td>
            <td>9786287715103</td>
            <td>Antiestrés</td>
            <td>Dr. Carlos Jaramillo</td>
            <td>Grupo Planeta</td>
            <td>Desarrollo Personal</td>
            <td>2024</td>
            <td>6</td>
            <td>59000 COP</td>
            </tr>
        </tbody>
    </table>
</div>