.message{
    position: relative;
    border-radius: 10px;
    opacity: 90%;
}.body{
    display: flex;
    flex-direction: row;
    margin: 15px;
}.summary{
    font-size: 17px;
    font-weight: 900;
}.detail{
    font-size: 17px;
    font-weight: normal;
}.console{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 50px;
    right: 20px;
    max-width: 400px;
    width: 100%;
    z-index: 9999;
}.message-insignias{
    display: flex;
    align-items: center;

}.message-insignias img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}.message-close{
    display: flex;
    align-items: center;
    position:absolute;
    top: 0px;
    left:0px;
}.message-close img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transform: translate(-25%, -25%);
}.message-column{
    display: flex;
    flex: auto;
    flex-direction: column;
}.message-column>p{
    font-family: 'Times New Roman', Times, serif;
}

.message-txt-info{
    color: var(--main-info-txt-color);
}.message-info{
    background-color: var(--main-info-bg-color);
    box-shadow: 0px 0px 3px 0px var(--main-info-color);
}.message-insignias-info{
    background-color: var(--main-info-color);
}.message-close-info{
    background-color: var(--main-info-color);
}.message-close-info:hover{
    background-color: var(--main-info-color-hover);
}

.message-txt-danger{
    color: var(--main-error-txt-color);
}.message-danger{
    background-color: var(--main-error-bg-color);
    box-shadow: 0px 0px 3px 0px var(--main-error-color);
}.message-insignias-danger{
    background-color: var(--main-error-color);
}.message-close-danger{
    background-color: var(--main-error-color);
}.message-close-danger:hover{
    background-color: var(--main-error-color-hover);
}

.message-txt-warning{
    color: var(--main-warning-txt-color);
}.message-warning{
    background-color: var(--main-warning-bg-color);
    box-shadow: 0px 0px 3px 0px var(--main-warning-color);
}.message-insignias-warning{
    background-color: var(--main-warning-color);
}.message-close-warning{
    background-color: var(--main-warning-color);
}.message-close-warning:hover{
    background-color: var(--main-warning-color-hover);
}

.console-success{
    border: #67bd51 solid 3px;
    border-radius: 30px;
    background-color: #d7f3ca;
    position: relative;
}.info-success{
    border: #67bd51 solid 3px;
    background-color: #67bd51;
    border-radius: 30px;
}.message-success{
    color: #67bd51;
    margin-left: 10px;
    margin-right: 10px;
}.close-success{
    border: #67bd51 solid 3px;
    background-color: #67bd51;
    border-radius: 10px;
}.close-success:hover{
    background-color: #559c44;
    border: #559c44 solid 3px;
}p{
    margin: 2px;
}

