<div class="console">
    <div  *ngFor="let message of consoles$ | async " class="message message-{{message.message.severity}}" [hidden]="message.hidden">
        <div class="body">
            <div class="message-column">
                <p class="summary message-txt-{{message.message.severity}}">{{message.message.component||message.message.severity|titlecase}}</p>
                <p class="detail message-txt-{{message.message.severity}}">{{message.message.message}}</p>
            </div>
            <div class="message-insignias">
                <img class="message-insignias-{{message.message.severity}}" src="../../../assets/info.svg" alt="">
            </div>

        </div>
        <div class="message-close">
            <img class="message-close-{{message.message.severity}}" (click)="hideConsole(message)" [hidden]="!message.message.closeable"
                src="../../../assets/close.svg" alt="">
        </div>
    </div>
</div>