<h2 class="txt-cyan txt-tab mb-3">GUARDAR UN NUEVO LIBRO</h2>
<div class="row justify-center">
    <form [formGroup]="formBook" class="column" style="width: 100%; gap: 20px;" (ngSubmit)="onSubmit()">
        <div class="row wrap justify-center">
                <div class="column" >
                    <div class="row wrap">
                        <div class="column">
                            <div class="inp-div">
                                <p class="txt-bold txt-cyan ">*ISXN:</p>
                                <input type="number" brInput formControlName="isxn" [disabled]="id!=null">
                            </div>
                        </div>
                        <div class="column">
                            <div class="inp-div">
                                <p class="txt-bold txt-cyan ">*Titulo:</p>
                                <input type="text" brInput formControlName="title">
                            </div>
                        </div>
                    </div>
                    <div class="inp-div">
                        <p class="txt-bold txt-cyan ">*Autor:</p>
                        <input type="text" brInput formControlName="author">
                    </div>
                    <div class="inp-div">
                        <p class="txt-bold txt-cyan ">*Editorial:</p>
                        <input type="text" brInput formControlName="editorial">
                    </div>
                    <div class="inp-div">
                        <p class="txt-bold txt-cyan ">*Año de publicación:</p>
                        <input type="number" brInput formControlName="publicationDate">
                    </div>
                    <div class="row wrap">
                        <div class="column">
                            <div class="inp-div">
                                <p class="txt-bold txt-cyan ">*Cantidad de unidades:</p>
                                <input type="number" brInput formControlName="units">
                            </div>
                        </div>
                        <div class="column">
                            <div class="inp-div">
                                <p class="txt-bold txt-cyan ">*Costo:</p>
                                <input type="number" brInput formControlName="cost">
                            </div>
                        </div>
                    </div>
                    <div class="inp-div">
                        <p class="txt-bold txt-cyan ">*Url de la imagen:</p>
                        <input type="url" brInput formControlName="image" (change)="onChangeImage()">
                    </div>
                    <div formGroupName="category" class="slt-div">
                        <p class="txt-bold txt-cyan txt-center ">*Categoria:</p>
                        <select brDropdown formControlName="id">
                            <option value="0">¿A qué categoria pertenece el libro?</option>
                            <hr>
                            <option *ngFor="let category of categoryList" value={{category.id}}>{{category.name}}</option>
                        </select>
                    </div>
                    
                </div>
                <div class="column-preview-image ">
                    <div class="body-preview-image">
                        <div class="column">
                            <img class="preview-image" src={{imagePreview}} (error)="onErrorImage()" alt="">
                        </div>
                    </div>
                </div>
        </div>
        <div class="row justify-center">
            <button type="submit" brButton>Guardar</button>
            <button type="button" brButton severity="danger" (click)="delete(formBook.value.isxn)" *ngIf="id">Eliminar</button>
        </div>
    </form>
</div>