
.id{
    min-width: 300px;
}.preview-image{
    width: 256px;
    height: 395px;
    margin: 10px;
    border-radius: 20px;
}.body-preview-image{
    border: #179d8d solid 3px;
    border-radius: 30px;
}.body-preview-image>.column>.btn{
    margin-bottom: 10px;
}.column-preview-image{
    display: flex;
    flex-direction: column;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}.justify-center{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}
@media screen and (min-width: 464px) {
    p{
        text-wrap: nowrap;
    }
  }

  p{
    width: min-content;
    text-wrap-style: balance;
}.inp-div{
    gap: 5px;
}.slc-div{
    gap: 5px;
}
