<form [formGroup]="formBook" (ngSubmit)="insertBook()">
    <div class="new-seccion">
        <div class="row">
            <div class="column id me-2">
                <div class="inp-div">
                    <p class="txt-bold txt-cyan me-1">ISXN:</p>
                    <input type="number" class="inp inp-cyan" formControlName="id">
                </div>
            </div>
            <div class="column">
                <div class="inp-div">
                    <p class="txt-bold txt-cyan me-1">Titulo:</p>
                    <input type="text" class="inp inp-cyan" formControlName="titulo">
                </div>
            </div>
        </div>
        <div class="inp-div">
            <p class="txt-bold txt-cyan me-1">Autor:</p>
            <input type="text" class="inp inp-cyan" formControlName="autor">      
        </div>
        <div class="inp-div">
            <p class="txt-bold txt-cyan me-1">Editorial:</p>
            <input type="text" class="inp inp-cyan" formControlName="editorial">    
        </div>
        <div class="inp-div">
            <p class="txt-bold txt-cyan me-1">Año de publicación:</p>
            <input type="number" class="inp inp-cyan" formControlName="anioPublicacion">
        </div>
    
        <div class="row">
            <div class="column me-2">
                <div class="inp-div">
                    <p class="txt-bold txt-cyan me-1">Cantidad de unidades:</p>
                    <input type="number" class="inp inp-cyan" formControlName="unidades">
                </div>
            </div>
            <div class="column">
                <div class="inp-div">
                    <p class="txt-bold txt-cyan me-1">Costo:</p>
                    <input type="number" class="inp inp-cyan" formControlName="costo">     
                </div>
            </div>
        </div>
    
        <div class="inp-div">
            <p class="txt-bold txt-cyan me-1">Url de la imagen:</p>
            <input type="text" class="inp inp-cyan" formControlName="image">     
        </div>
        <div formGroupName="categoria" class="slt-div">
            <p class="txt-bold txt-cyan txt-center me-1">Categoria:</p>
            <select class="slt slt-cyan" formControlName="id">
                <option value="0">¿A qué categoria pertenece el libro?</option>
                <hr>
                <option *ngFor="let category of categoryList" value={{category.id}}>{{category.name}}</option>
            </select>
        </div>
    </div>

    <div class="center mt-5"><button type="submit" class="btn btn-cyan btn-content">Guardar Libro</button></div>
</form>