<h2 class="txt-cyan txt-tab mb-3">GUARDAR UN NUEVO LIBRO</h2>
<div class="row justify-center">
    <form [formGroup]="bookDto" class="column" style="width: 100%; gap: 20px;" (ngSubmit)="onSubmit()">
        <div class="row wrap justify-center">
                <div class="column" >
                    <div class="row wrap">
                        <div class="column">
                            <div class="inp-div">
                                <p class="txt-bold txt-cyan ">*ISXN:</p>
                                <input type="number" class="inp inp-cyan" formControlName="isxn">
                            </div>
                        </div>
                        <div class="column">
                            <div class="inp-div">
                                <p class="txt-bold txt-cyan ">*Titulo:</p>
                                <input type="text" class="inp inp-cyan" formControlName="title">
                            </div>
                        </div>
                    </div>
                    <div class="inp-div">
                        <p class="txt-bold txt-cyan ">*Autor:</p>
                        <input type="text" class="inp inp-cyan" formControlName="author">
                    </div>
                    <div class="inp-div">
                        <p class="txt-bold txt-cyan ">*Editorial:</p>
                        <input type="text" class="inp inp-cyan" formControlName="editorial">
                    </div>
                    <div class="inp-div">
                        <p class="txt-bold txt-cyan ">*Año de publicación:</p>
                        <input type="number" class="inp inp-cyan" formControlName="publicationDate">
                    </div>
                    <div class="row wrap">
                        <div class="column">
                            <div class="inp-div">
                                <p class="txt-bold txt-cyan ">*Cantidad de unidades:</p>
                                <input type="number" class="inp inp-cyan" formControlName="units">
                            </div>
                        </div>
                        <div class="column">
                            <div class="inp-div">
                                <p class="txt-bold txt-cyan ">*Costo:</p>
                                <input type="number" class="inp inp-cyan" formControlName="cost">
                            </div>
                        </div>
                    </div>
                    <div class="inp-div">
                        <p class="txt-bold txt-cyan ">*Url de la imagen:</p>
                        <input type="url" class="inp inp-cyan" formControlName="image" (change)="setPreviewImage()">
                    </div>
                    <div formGroupName="category" class="slt-div">
                        <p class="txt-bold txt-cyan txt-center ">*Categoria:</p>
                        <select class="slt slt-cyan" formControlName="id">
                            <option value="0">¿A qué categoria pertenece el libro?</option>
                            <hr>
                            <option *ngFor="let category of categoryList" value={{category.id}}>{{category.name}}</option>
                        </select>
                    </div>
                    
                </div>
                <div class="column-preview-image ">
                    <div class="body-preview-image">
                        <div class="column">
                            <img class="preview-image" src={{previewImage}} alt="" (error)="defaultPreviewImage()">
                        </div>
                    </div>
                </div>
        </div>
        <div class="console-{{responseHttp.status}} " [hidden]="hiddenConsole">
            <div class="row console-body">
                <div class="console-items">
                    <img class="info-{{responseHttp.status}}" src="../../../assets/info.svg" alt="">
                </div>
                <div class="column">
                    <p class="text-{{responseHttp.status}}">{{responseHttp.message}}</p>
                </div>
                <div class="console-items">
                    <img class="close-{{responseHttp.status}}" (click)="hideConsole()"
                        src="../../../assets/close.svg" alt="">
                </div>
            </div>
        </div>
        <div class="row justify-center">
            <br-button type="submit" severity="primary" label="Guardar"/>
            <br-button type="button" severity="danger" label="Eliminar" (click)="delete(bookDto.value.isxn)" *ngIf="id"/>
        </div>
    
    
    </form>
</div>