.column{
    display: flex;
    flex: auto;
    flex-direction: column;
}.row{
    display: flex;
    flex-direction: row;
}.txt-center{
    text-align: center;
}.center{
    display: flex;
    justify-content: center;
}.aling-self{
    display: flex;
    align-items: center;
}.flex{
    display: flex;
}.txt-small{
    font-size: small;
}
/* .alert{
    border-radius: 20px;
    padding: 20px 40px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px;
}.alert-red{
    background-color: #F3CACB;
}.alert-red>p{
    color: #BD5153;
    font-weight: bold;
} */

/*---searchBar---*/
.search-bar{
    display: flex;
    flex-direction: row;
}

.br-button-icon>img{
    height: 20px;
    width: 20px;
}

/*---elementos---*/
/*dialog*/

/*text*/
.txt-bold{
    font-weight: bold;
}.txt-tab{
    margin-left: 1.24cm;
}
/*load*/
.load{
    transform-origin: center;
    animation: rotateImage 2s linear infinite;
    width: 30px;
    height: 30px;
}
/*img*/
.load{
    transform-origin: center;
    animation: rotateImage 2s linear infinite;
    width: 20px;
    height: 20px;
}
@keyframes rotateImage {
    from {
        transform: rotate(0deg); /* Rotación inicial */
      }
      /* Define el estado final */
      to {
        transform: rotate(360deg); /* Rotación completa (360 grados) */
      }
}
/*alert*/

/*input*/
.inp-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inp-radio{
    width: 20px;
    height: 20px;
}
/*select*/
.slt-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*button*/



.btn-icon{
    max-width: 60px;
}
.btn{
    display: flex;
    align-items: center;
    border-radius: 20px;
    min-width: 40px;
    min-height: 40px;
}.btn:disabled{
    color: white;
    background-color: #5a5a5a;
    border: #5a5a5a;
}
.btn-content{
    display: flex;
    padding: 0px 20px;
    align-self: center;
}.btn-content>img{
    width: 20px;
    height: 20px;
}

/*coloresConsole*/

/*coloresAlert*/

/*---coloresInput---*/

/*coloresButton*/

.btn-outline-cyan{
    color: #179D8D;
    background-color: #DCEEEC;
    border:solid 3px #179D8D;
}.btn-outline-cyan:hover:enabled{
    color: #DCEEEC;
    background-color: #179D8D;
}.btn-outline-cyan:focus:enabled{
    color: #DCEEEC;
    background-color: #179D8D;
}

/*coloresTxt*/
.txt-cyan{
    color: #0A473F;
}.txt-white{
    color: white;
}

/*coloresTable*/




.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mt-3{
    margin-top: 30px;
}
.mt-4{
    margin-top: 40px;
}
.mt-5{
    margin-top: 50px;
}

.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-3{
    margin-bottom: 30px;
}
.mb-4{
    margin-bottom: 40px;
}
.mb-5{
    margin-bottom: 50px;
}

.ms-1{
    margin-left: 10px;
}
.ms-2{
    margin-left: 20px;
}
.ms-3{
    margin-left: 30px;
}
.ms-4{
    margin-left: 40px;
}
.ms-5{
    margin-left: 50px;
}

.me-1{
    margin-right: 10px;
}
.me-2{
    margin-right: 20px;
}
.me-3{
    margin-right: 30px;
}
.me-4{
    margin-right: 40px;
}
.me-5{
    margin-right: 50px;
}


