<table>
    <thead>
        <tr>
            <th>#</th>
            <th *ngFor="let header of headers">{{header}}</th>
            <th *ngIf="action">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items.slice(0,50); let i=index">
            <th>
                <span class="br-column-title">#</span>
                {{i+1}}
            </th>
            <td *ngFor="let header of headers">
                <span class="br-column-title">{{header}}</span>            
                <ng-container *ngIf="header.toLowerCase() === 'imagen';else cost">
                <img [src]="item[header]" alt="" /> <!-- Cambia el tamaño según sea necesario -->
            </ng-container>
            <ng-template #cost >
                <ng-container  *ngIf="header.toLowerCase() === 'costo';else textHeader">
                    {{item[header]|uppercase}}
                </ng-container>
            </ng-template>
            <ng-template #textHeader >
                {{item[header]|titlecase}}
            </ng-template>
            </td>
            <td>
                <span class="br-column-title">Acciones</span>
                <button brButton type="button" (click)="getItem(item.Id||item.Isxn)">
                    <img src="{{action.icon}}" alt="">
                </button>
            </td>
            <br>
        </tr>
    </tbody>
</table>

