<table>
    <thead>
        <tr>
            <th>#</th>
            <th *ngFor="let header of headers">{{header|titlecase}}</th>
            <th *ngIf="action">{{'actions'|titlecase}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items.slice(0,50); let i=index">
            <th>
                <span class="br-column-title">#</span>
                {{i+1}}
            </th>
            <td *ngFor="let header of headers">
                <span class="br-column-title">{{header}}</span>            
                <ng-container *ngIf="header.toLowerCase() === 'image';else cost">
                <img [src]="item[header]" (error)="noImage" alt="" /> <!-- Cambia el tamaño según sea necesario -->
            </ng-container>
            <ng-template #cost >
                <ng-container  *ngIf="header.toLowerCase() === 'cost';else textHeader">
                    {{item[header]|number:'4.2-2'}}
                </ng-container>
            </ng-template>
            <ng-template #textHeader >
                {{item[header].toString()|titlecase}}
            </ng-template>
            </td>
            <td>
                <span class="br-column-title">actions</span>
                <button brButton type="button" [severity]="action.severity" (click)="onEmitRow(item)">
                    <img src="{{action.icon}}" alt="">
                </button>
            </td>
            <br>
        </tr>
    </tbody>
</table>

