td>img{
    width: 60px;
    height: 92px;
    border-radius: 15px;
}table{
    width: 100%;
}tbody>tr>*{
    text-align: center;
    
}th{
    color: #179D8D;
    font-weight: bolder;
    font-family: serif;
}.br-column-title{
    color: #179D8D;
}td{
    color: #0A473F;
}
@media screen and (max-width:960px) {
    tbody>tr{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
    }
    tbody>tr>*{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        text-align: end;
    }
    thead{
        display: none;
    }
}
@media screen and (min-width:960px) {
.br-column-title{
        display: none;
    }
}